h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
    text-align: center;
}
table{
    border-collapse: collapse; /*Bordas*/
    text-align: center; /*Alinhar texto das células*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto; /*Centraliza a tabela*/
    width: 100%;
    table-layout: fixed;
}
thead td{
    border: 2px solid black;
    background-color: darkseagreen;
    font-weight: bold;
    padding: 10px;
}

td{
    border:1px solid black;
    background-color: aliceblue;
    padding: 10px;
}
/* O background do hover não funciona se já houver um background na linha da tabela*/
tr:hover { 
    /*background-color: aliceblue;*/
    font-weight: bold;
    font-size: large;
}
