body{
    height: 100vh;
    background-color: rgb(109, 139, 167);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{
    height: 70vh;
    width: 70vh ;
    background-color: rgb(214, 209, 209);
    border-radius: 20px;
}

#tela{
    border-radius: 20px 20px 0px 0px ;
    background-color: rgb(85, 81, 81);
    width: 100%;
    height: 25%;
    font-size: 30pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
}

.tecla{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    border: 1px solid rgb(90, 87, 87);
}

#teclado{
    display: grid;
    height: 75%;
    grid-template-areas: 
    "buttonMais buttonMenos buttonMult buttonDiv"
    "btn7       btn8        btn9       igual"
    "btn4       btn5        btn6       igual"
    "btn1       btn2        btn3       igual"
    "btn0       btnPonto    btnAC      igual"
    ;
}

#bntMais{grid-area:buttonMais;}
#bntMenos{grid-area:buttonMenos;}
#bntMulti{grid-area:buttonMult;}
#bntDiv{grid-area:buttonDiv;}
#bnt0{
    grid-area:btn0;
    border-radius: 0px 0px 0px 20px;
}
#bnt1{grid-area:btn1;}
#bnt2{grid-area:btn2;}
#bnt3{grid-area:btn3;}
#bnt4{grid-area:btn4;}
#bnt5{grid-area:btn5;}
#bnt6{grid-area:btn6;}
#bnt7{grid-area:btn7;}
#bnt8{grid-area:btn8;}
#bnt9{grid-area:btn9;}
#bntequal{
    grid-area:igual;
    background-color: rgba(226, 88, 8, 0.966);
    border-radius: 0px 0px 20px 0px ;
}
#bntdot{grid-area:btnPonto;}
#bntClear{grid-area:btnAC;}
.button:active{
    background-color: gray;

}

/*#teclado{
    display: grid;
    height: 75%;
    grid-template-areas: 
    "buttonMais buttonMenos buttonMult buttonDiv"
    "btn7 btn8 btn9 igual"
    "btn4 btn5 btn6 igual"
    "btn1 btn2 btn3 igual"
    "btn0 btnPonto btnAC igual"
    ;
}

#mais{
    grid-area: buttonMais;
}

#menos{
    grid-area: buttonMenos;
}

#multi{
    grid-area: buttonMulti;
}

#divisao{
    grid-area: buttonDiv;
}

#sete{
    grid-area: btn7;
}

#oito{
    grid-area: btn8;
}

#nove{
    grid-area: btn9;
}

#quatro{
    grid-area: btn4;
}

#cinco{
    grid-area: btn5;
}

#seis{
    grid-area: btn6;
}

#um{
    grid-area: btn1;
}

#dois{
    grid-area: btn2;
}

#tres{
    grid-area: btn3;
}

#zero{
    grid-area: btn0;
}

#ponto{
    grid-area: btnPonto;
}

#AC{
    grid-area: btnAC;
}

#igual{
    grid-area: igual;
}



/**{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight:600;
}

.calculadora{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px;
    width: 410px;
    flex-direction: column;
}

#tela{
    display: flex;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 390px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    color: white;
}

.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100px;
    height: 60px;
}

.operadores{
    display: flex;
    flex-direction: row;
}

.numeros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

#igual{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 240px;
    background-color: salmon;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    position: relative;
}

#zero{
    border-bottom-left-radius: 10px;
}

/*
.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin: 5px;
}

#tela{
    display: flex;
    background-color: white;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    width: 290px;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}


/* Professor fez

.tecla{
    width: 25%;
    text-align: center;
    background-color: aliceblue;
}

#teclado{
    display: grid;
    height: 75%;
    grid-template-areas: 
    "buttonMais buttonMenos buttonMult buttonDiv"
    "btn7 btn8 btn9 igual"
    "btn4 btn5 btn6 igual"
    "btn1 btn2 btn3 igual"
    "btn0 btnPonto btnAC igual"
    ;
}

#mais{
    grid-area: buttonMais;
}

#menos{
    grid-area: buttonMenos;
}

#multi{
    grid-area: buttonMulti;
}

#divisao{
    grid-area: buttonDiv;
}

#sete{
    grid-area: btn7;
}

#oito{
    grid-area: btn8;
}

#nove{
    grid-area: btn9;
}

#quatro{
    grid-area: btn4;
}

#cinco{
    grid-area: btn5;
}

#seis{
    grid-area: btn6;
}

#um{
    grid-area: btn1;
}

#dois{
    grid-area: btn2;
}

#tres{
    grid-area: btn3;
}

#zero{
    grid-area: btn0;
}

#ponto{
    grid-area: btnPonto;
}

#AC{
    grid-area: btnAC;
}

#igual{
    grid-area: igual;
}

*/