.box{
    width: 100px;
    height: 100px;
    border: 1px double mediumslateblue;
    font-size: 20pt;
    text-align: center;
    position: relative;
    animation: moveright 5s linear 0s infinite;
}

#c1box1{
    /* Nome  Duração Função Delay */      
    animation: moveright 0.1s linear 0s infinite;
}

/*body{
    animation: gira 1s linear 0s infinite;
}

.box:hover{
             Nome  Duração Função Delay      
    animation: moveright 5s linear 0s infinite;

    
}*/

@keyframes moveright{
    0%{
        left: 0px;
        /*background-color: rgba(127, 255, 212, 0.342);*/
    }

    /*50%{
        left: 300px;
        background-color: rgba(127, 255, 212, 0.603);
    }*/

    100%{
        left: 800px;
        background-color: aquamarine;
    }
}

@keyframes gira{
    0%{
        transform: translate(-30px,0px);
    }

    100%{
        transform: translate(100px,400px);
    }
}

#foguete{
    position: fixed;
    bottom: 0px;
    width: 100px;
    animation: lancamento 5s ease-in 0s infinite;
}


@keyframes lancamento{
    0%{top: 100%}

    100%{
        top: 0px;
    }
}